html
  head
    title='Pluralsight Rocks'
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 hello Pluralsighters!!!
        p Click the button below to head over to my podcast...
        p 
          a.btn.btn-primary(href="http://intechwetrustpodcast.com") Podcast
        p